In [ ]:
# a = float(input('Enter the number; '))
# o = input('Enter the operator; ')
# b = float(input('Enter second number; '))

# addition = a + b
# subtraction = a - b
# division = a / b
# multiplication = a * b
# root = (a ** 0.5)
# if o == '+':
#     print (addition)
# elif o == '-':
#     print(subtraction)
    
# elif o == '/':
#     print (division)
# elif o == '*':
#     print (multiplication)
# else:
#     print(root)

# JOVIAN

Question; List of seven cards and you are asked to pick the card nwhich has no 7 with the minimum try possible,cards are arranged in descending order

In [ ]:
def locate_card(cards, query):
    pass

In [ ]:
cards = [13,12,9,7,5,4,3]
query = 7
output = 3

In [ ]:
result = locate_card(cards, query)
print(result)

None

In [ ]:
test = {
    'input' :{'cards': [13,12,9,7,5,4,3],
            'query' :7},
    'output' : 3
}

In [ ]:
# locate_card(test['input']['cards'],test['input']['query'])== test['output']

In [ ]:
locate_card(**test['input']) == test['output']

False

In [ ]:
tests = []

In [ ]:
#possible outcomes

tests.append(test)

In [ ]:
#2
tests.append({
    'input': {'cards' : [12,7,5,4,3,2,1] ,
              'query' : 3
        
    },'output':4
})

In [ ]:
#3 
tests.append({
    'input':{'cards': [13,12,9,7,5,4,3],
            'query' :13},
    'output' : 0
})

In [ ]:
#4
tests.append({
    'input' :{'cards': [3],
            'query' :3},
    'output' : 0
})

In [ ]:
#5
tests.append({
    'input' :{'cards': [13,12,9,7,5,4,3],
            'query' :6},
    'output' : -1
})

In [ ]:
#6
tests.append({
    'input' :{'cards': [],
            'query' :7},
    'output' : -1
})

In [ ]:
#7
tests.append({
    'input' :{'cards': [13,13,12,9,7,7,7,7,5,4,3],
            'query' :12},
    'output' : 2
})

In [ ]:
#8
tests.append({
    'input' :{'cards': [13,12,9,9,9,7,5,4,3],
            'query' :9},
    'output' : 2
})

In [ ]:
tests

[{'input': {'cards': [13, 12, 9, 7, 5, 4, 3], 'query': 7}, 'output': 3},
 {'input': {'cards': [12, 7, 5, 4, 3, 2, 1], 'query': 3}, 'output': 4},
 {'input': {'cards': [13, 12, 9, 7, 5, 4, 3], 'query': 13}, 'output': 0},
 {'input': {'cards': [3], 'query': 3}, 'output': 0},
 {'input': {'cards': [13, 12, 9, 7, 5, 4, 3], 'query': 6}, 'output': -1},
 {'input': {'cards': [], 'query': 7}, 'output': -1},
 {'input': {'cards': [13, 13, 12, 9, 7, 7, 7, 7, 5, 4, 3], 'query': 12},
  'output': 2},
 {'input': {'cards': [13, 12, 9, 9, 9, 7, 5, 4, 3], 'query': 9}, 'output': 2}]

# BRUTE FORCE ALGORITHM

In [ ]:
def locate_card(cards, query):
    position = 0
    
    print('Expected output:', test['output'])
    
    while position < len(cards):
        if cards[position] == query:
            print('algo output:', position)
            return position
        
        position +=1
        
        if position == (len(cards)-1):
            return -1

In [ ]:
tests

[{'input': {'cards': [13, 12, 9, 7, 5, 4, 3], 'query': 7}, 'output': 3},
 {'input': {'cards': [12, 7, 5, 4, 3, 2, 1], 'query': 3}, 'output': 4},
 {'input': {'cards': [13, 12, 9, 7, 5, 4, 3], 'query': 13}, 'output': 0},
 {'input': {'cards': [3], 'query': 3}, 'output': 0},
 {'input': {'cards': [13, 12, 9, 7, 5, 4, 3], 'query': 6}, 'output': -1},
 {'input': {'cards': [], 'query': 7}, 'output': -1},
 {'input': {'cards': [13, 13, 12, 9, 7, 7, 7, 7, 5, 4, 3], 'query': 12},
  'output': 2},
 {'input': {'cards': [13, 12, 9, 9, 9, 7, 5, 4, 3], 'query': 9}, 'output': 2}]

In [ ]:
%%time
test_no = 0
for test in tests:
    test_no += 1
    print(test_no)
    print(locate_card(**test['input']) == test['output'])

1
Expected output: 3
algo output: 3
True
2
Expected output: 4
algo output: 4
True
3
Expected output: 0
algo output: 0
True
4
Expected output: 0
algo output: 0
True
5
Expected output: -1
True
6
Expected output: -1
False
7
Expected output: 2
algo output: 2
True
8
Expected output: 2
algo output: 2
True
CPU times: user 12.6 ms, sys: 0 ns, total: 12.6 ms
Wall time: 13.3 ms

# BEST ALGORITHM

In [ ]:
def locate_card2(cards, query):
    pos_a = 0 
    pos_z = len(cards)-1
    
    while pos_a <= pos_z:
        query_pos = (pos_a + pos_z)//2
        present_card = cards[query_pos]
        print('pos_a :', pos_a, ', pos_z :', pos_z,', query_pos :', query_pos,',present_card :', present_card)
        if present_card == query:
            return query_pos
        elif present_card < query:
            pos_z = query_pos -1
        elif present_card > query:
            pos_a = query_pos + 1
    return - 1

In [ ]:
tests

[{'input': {'cards': [13, 12, 9, 7, 5, 4, 3], 'query': 7}, 'output': 3},
 {'input': {'cards': [12, 7, 5, 4, 3, 2, 1], 'query': 3}, 'output': 4},
 {'input': {'cards': [13, 12, 9, 7, 5, 4, 3], 'query': 13}, 'output': 0},
 {'input': {'cards': [3], 'query': 3}, 'output': 0},
 {'input': {'cards': [13, 12, 9, 7, 5, 4, 3], 'query': 6}, 'output': -1},
 {'input': {'cards': [], 'query': 7}, 'output': -1},
 {'input': {'cards': [13, 13, 12, 9, 7, 7, 7, 7, 5, 4, 3], 'query': 12},
  'output': 2},
 {'input': {'cards': [13, 12, 9, 9, 9, 7, 5, 4, 3], 'query': 9}, 'output': 2}]

In [ ]:
test_no = 0
for test in tests:
    test_no += 1
    print(test_no)
    print(locate_card2(**test['input']) == test['output'])

1
pos_a : 0 , pos_z : 6 , query_pos : 3 ,present_card : 7
True
2
pos_a : 0 , pos_z : 6 , query_pos : 3 ,present_card : 4
pos_a : 4 , pos_z : 6 , query_pos : 5 ,present_card : 2
pos_a : 4 , pos_z : 4 , query_pos : 4 ,present_card : 3
True
3
pos_a : 0 , pos_z : 6 , query_pos : 3 ,present_card : 7
pos_a : 0 , pos_z : 2 , query_pos : 1 ,present_card : 12
pos_a : 0 , pos_z : 0 , query_pos : 0 ,present_card : 13
True
4
pos_a : 0 , pos_z : 0 , query_pos : 0 ,present_card : 3
True
5
pos_a : 0 , pos_z : 6 , query_pos : 3 ,present_card : 7
pos_a : 4 , pos_z : 6 , query_pos : 5 ,present_card : 4
pos_a : 4 , pos_z : 4 , query_pos : 4 ,present_card : 5
True
6
True
7
pos_a : 0 , pos_z : 10 , query_pos : 5 ,present_card : 7
pos_a : 0 , pos_z : 4 , query_pos : 2 ,present_card : 12
True
8
pos_a : 0 , pos_z : 8 , query_pos : 4 ,present_card : 9
False

In [ ]:
def locate_card2(cards, query):
    pos_a = 0 
    pos_z = len(cards)-1 
    
    while pos_a <= pos_z: #to ensure that the list is not empty
        print('pos_a :',pos_a,'pos_z :',pos_z)
        mid = (pos_a + pos_z)//2
        result = test_location(cards,query,mid)
        if result == 'found':
            return mid
        elif result == 'left':
            pos_z = mid -1 
        elif result == 'right':
            pos_a = mid + 1
    return -1    

def test_location(cards,query,mid):
    var_num = cards[mid]
    print('var_num : ', var_num , 'mid:', mid)
    if var_num == query:
        if mid-1 > 0 and cards[mid-1] == query:  #keep going left if we are not at the first number and query repeats
            return 'left'
        else:
            return 'found'
    elif var_num < query:
        return 'left'
    else:
        return 'right'

In [ ]:
test_no = 0
for test in tests:
    test_no += 1
    print(test_no)
    print(locate_card2(**test['input']) == test['output'])

1
pos_a : 0 pos_z : 6
var_num :  7 mid: 3
True
2
pos_a : 0 pos_z : 6
var_num :  4 mid: 3
pos_a : 4 pos_z : 6
var_num :  2 mid: 5
pos_a : 4 pos_z : 4
var_num :  3 mid: 4
True
3
pos_a : 0 pos_z : 6
var_num :  7 mid: 3
pos_a : 0 pos_z : 2
var_num :  12 mid: 1
pos_a : 0 pos_z : 0
var_num :  13 mid: 0
True
4
pos_a : 0 pos_z : 0
var_num :  3 mid: 0
True
5
pos_a : 0 pos_z : 6
var_num :  7 mid: 3
pos_a : 4 pos_z : 6
var_num :  4 mid: 5
pos_a : 4 pos_z : 4
var_num :  5 mid: 4
True
6
True
7
pos_a : 0 pos_z : 10
var_num :  7 mid: 5
pos_a : 0 pos_z : 4
var_num :  12 mid: 2
True
8
pos_a : 0 pos_z : 8
var_num :  9 mid: 4
pos_a : 0 pos_z : 3
var_num :  12 mid: 1
pos_a : 2 pos_z : 3
var_num :  9 mid: 2
True

In [ ]:
a = list(range(10,0,-1))
a

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# PRACTICE

# My brute force

In [ ]:
tests

[{'input': {'cards': [13, 12, 9, 7, 5, 4, 3], 'query': 7}, 'output': 3},
 {'input': {'cards': [12, 7, 5, 4, 3, 2, 1], 'query': 3}, 'output': 4},
 {'input': {'cards': [13, 12, 9, 7, 5, 4, 3], 'query': 13}, 'output': 0},
 {'input': {'cards': [3], 'query': 3}, 'output': 0},
 {'input': {'cards': [13, 12, 9, 7, 5, 4, 3], 'query': 6}, 'output': -1},
 {'input': {'cards': [], 'query': 7}, 'output': -1},
 {'input': {'cards': [13, 13, 12, 9, 7, 7, 7, 7, 5, 4, 3], 'query': 12},
  'output': 2},
 {'input': {'cards': [13, 12, 9, 9, 9, 7, 5, 4, 3], 'query': 9}, 'output': 2}]

In [ ]:
def locate_card(cards,query):
    pos_a = 0
    pos_z = len(cards)- 1
    while pos_a <= pos_z: #to make sure the list is not empty
        if cards[pos_a] == query:
            return pos_a
        else:
            pos_a = pos_a + 1
          
    return -1

In [ ]:
%%time
test_no = 0
for test in tests:
    test_no += 1
    print(test_no)
    #print(pos_a)
    print(locate_card(**test['input'])==test['output'])

1
True
2
True
3
True
4
True
5
True
6
True
7
True
8
True
CPU times: user 2.9 ms, sys: 898 µs, total: 3.8 ms
Wall time: 3.76 ms

# Binary Search

In [ ]:
def locate_card2(cards,query):
    pos_a = 0
    pos_z = len(cards)-1
    while pos_a <= pos_z:
        start_pos = (pos_a + pos_z) // 2
        print('pos_a ', pos_a, 'pos_z ', pos_z, 'start_pos ', start_pos)
        if cards[start_pos] == query:
            return start_pos
        elif cards[start_pos] < query:
            pos_z = start_pos - 1
        elif cards[start_pos] > query:
            pos_a = start_pos + 1
                
    return - 1

In [ ]:
%%time
test_no = 0
for test in tests:
    test_no += 1
    print(test_no)
    #print(pos_a)
    print(locate_card2(**test['input'])==test['output'])

1
pos_a  0 pos_z  6 start_pos  3
True
2
pos_a  0 pos_z  6 start_pos  3
pos_a  4 pos_z  6 start_pos  5
pos_a  4 pos_z  4 start_pos  4
True
3
pos_a  0 pos_z  6 start_pos  3
pos_a  0 pos_z  2 start_pos  1
pos_a  0 pos_z  0 start_pos  0
True
4
pos_a  0 pos_z  0 start_pos  0
True
5
pos_a  0 pos_z  6 start_pos  3
pos_a  4 pos_z  6 start_pos  5
pos_a  4 pos_z  4 start_pos  4
True
6
True
7
pos_a  0 pos_z  10 start_pos  5
pos_a  0 pos_z  4 start_pos  2
True
8
pos_a  0 pos_z  8 start_pos  4
False
CPU times: user 8.77 ms, sys: 0 ns, total: 8.77 ms
Wall time: 11.7 ms

# Best_algorithm

In [ ]:
def locate_card3(cards, query):
    pos_a = 0
    pos_z = len(cards)- 1
    while pos_a <= pos_z: # to ensure the list is not empty
        start_pos = (pos_a + pos_z)//2
        result = test_location(cards,query, start_pos)
    #         result = test_location(cards,query)
        if result == 'found':
            return start_pos
        elif result == 'left':
            pos_z = start_pos - 1
        elif result == 'right':
            pos_a = start_pos + 1
            
    return -1        
            
def test_location(cards,query,start_pos):
    if cards[start_pos - 1] == query and start_pos -1 > 0:       
        return 'left'
    if cards[start_pos]== query:
        return 'found'
    elif cards[start_pos] < query:
        return 'left'
    elif cards[start_pos] > query:
        return 'right'

In [ ]:
%%time
test_no = 0
for test in tests:
    test_no += 1
    print(test_no)
    #print(pos_a)
    print(locate_card3(**test['input'])==test['output'])

1
True
2
True
3
True
4
True
5
True
6
True
7
True
8
True
CPU times: user 4.91 ms, sys: 3 ms, total: 7.91 ms
Wall time: 8.51 ms

# Lesson 2

# Necessaries

In [ ]:
class User:
    def __init__(self, username,name,email):
        self.username = username
        self.name = name
        self.email = email
        print('User created')
        
    def __repr__(self):
        return "User(username = '{}', name ='{}', email ='{}')".format(self.username,self.name,self.email)
    def __str__(self):
        return self.__repr__()

In [ ]:
enya = User('enya','Eithne enya','enya@eithne.com')
feranmi = User('feranmi','feranmi enya','fenya@eithne.com')
saola = User('saola','saola enya','saola@eithne.com')
ghealach = User('ghealach','Eghealach enya','ghealachenya@eithne.com')
peter = User('peter','oyeniyi peter','oluwaseun.com')
zainab = User('zainab','oyeniyi peter','oluwaseun.com')

User created
User created
User created
User created
User created
User created

In [ ]:
users = [enya,feranmi,saola,ghealach,peter,zainab]

In [ ]:
class userDataBase:
    def __init__(self):
        self.users = []
    def insert (self, user):
        i = 0
        while i < len(self.users):
            if self.users[i].username > user.username:
                break #goes to the last code in the def
            i += 1
            # print(i)
            # print(users[i].username, user.username)
        self.users.insert(i, user)     
        print(i)
        # print(users[i].username, user.username)
    
    def find (self, username):
        for user in self.users:
            if user.username == username:
                return user
        
        
    def update (self, user):
        target = self.find(user.username)
        print(target)
        target.name, target.email = user.name, user.email
        
    
    def list_all(self):
        return self.users

In [ ]:
database = userDataBase()

In [ ]:
database.list_all()

[]

In [ ]:
database.insert(feranmi)

0

In [ ]:
database.insert(saola)

1

In [ ]:
database.insert(enya)

0

In [ ]:
database.insert(peter)

2

In [ ]:
database.insert(ghealach)

2

In [ ]:
database.insert(zainab)

5

In [ ]:
database.update()

In [ ]:
# class userDataBase:
#     def __init__():
#         users = []
#     def insert (user):
#         i = 0
#         while i < len(users):
#             if users[i].username > user.username:
#                 break #go out of the while loop)
#             i += 1
#             print(i)
#         users.insert(i, user)

# Trial

In [ ]:
class user():
    def __init__(self, name, username, number):
        self.name = name
        self.username = username
        self.number = number
        print('user created!')
        
    def __repr__(self):
        return "user(name = '{}', username = '{}', number = '{}').".format(self.name, self.username, self.number)
#     def __str__(self):
#         return self.__repr__()

In [ ]:
saola = user('saola','feranmi','34343')
enoch = user('enoch','enochs','312343')
# pete = user('petes','feranmi','34343')
# enya = user('enyas','feranmi','34343')

user created!
user created!

In [ ]:
# print(enoch)

In [ ]:
class userDataBase:
    def __init__(self):
        self.users = []
    def insert (self, user):
        i = 0
        while i < len(self.users):
            if self.users[i].username > user.username:
                break
            i += 1
            print(i)
            print(users[i].username, user.username)
        self.users.insert(i, user)     
    
    def find (self, username):
        for user in self.users:
            if user.username == username:
                return user
        
        
    def update (self, user):
        target = self.find(user.username)
        target.name, target.email = user.name, user.email
        
    
    def list_all(self):
        return self.users

In [ ]:
base = userDataBase()
base.insert(saola)